/**
 * Sets the background color of the page to black and the text color to white.
 * The font family for the entire page is set to 'Droid', serif.
 */
body {
  background-color: black;
  color: white;
  font-family: 'Droid', serif;
}
