/*
  Styles for background images of specific character cards.
  Each class applies a different character's image as a background.
*/

/* Yoda background image */
.yoda-bg-img {
  background: url('../../assets/media/cards/yoda.png') top/cover;
}

/* Darth Vader background image */
.darth-vader-bg-img {
  background: url('../../assets/media/cards/darth-vader.png') top/cover;
}

/* Obi-Wan Kenobi background image */
.obi-wan-kenobi-bg-img {
  background: url('../../assets/media/cards/obi-wan-kenobi.png') top/cover;
}
